/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.header {
  background-color: #1F2937;
  padding: 2rem 0 5rem 0;
}

.navbar {
  margin-bottom: 4rem;
}

.navbar__list {
  list-style: none;
  align-items: center;
  padding: 1rem 0 2rem 0;

  /* border: solid 1px yellow; */
}
.push--away {
  margin-top: 2rem;
}
/* .navbar__item {
  text-align: center;

  border: solid 1px red;
} */

.navbar__link {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  /* display: block; */
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.navbar__link:hover,
.navbar__link:focus {
  opacity: 0.7;
}

@media only screen and (min-width: 600px) {
  .navbar__list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .push--away {
    margin-top: 0;
    margin-left: auto;
  }
}

.hero {
  text-align: center;
}

.hero__title {
  line-height: 1.2;
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin-bottom: 1rem;
}

.hero__text {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 1rem;
}

.hero__btn {
  display: inline-block;
  width: 100%;
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 3rem;
  padding: 0.5rem 0;
}

.hero__btn:hover,
.hero__btn:focus {
  opacity: 0.7;
}

@media only screen and (min-width: 600px) {
  .hero {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    text-align: left;
  }

  .hero__btn {
    width: auto;
    padding: 0.5rem 2rem;
  }

  .hero__content {
    width: 50%;
  }

  .hero__img {
    width: 50%;
    align-self: flex-start;
  }
}

.info-section {
  padding: 5rem 0;
}

.info-section__title {
  text-align: center;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  margin-bottom: 3rem;
}

.info__item {
  text-align: center;
  /* margin-bottom: 2rem; */
}

.info__img {
  border: solid 7px #1F2937;
  border-radius: 20px;
  margin-bottom: 0.7rem;
}

.info__text {
  font-size: 18px;
  color: #1F2937;
}

@media only screen and (min-width: 600px) {
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .info__item {
    flex: 0 1 0;
  }

  .info__img {
    min-width: 220px;
  }
}

.quote-section {
  background-color: #E5E7EB;
  padding: 5rem 0;
}

.quote__text {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1F2937;
}

.quote__author {
  font-weight: bold;
  font-size: 24px;
  text-align: right;
}
